html, body{
    height: 100%;
}

body{
    margin: 0;
    background-color: black;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}

#canvas{
    width: 400px;
    height: 400px;
    position: fixed;
    top : 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
}

.header{
    width: 100%;
    margin: 60px;
    display: none;
    position: relative;
}

.header > #left-header-top{
    margin:60px;
    font-size: 26px;
}

.header > #score{
    margin:60px;
    font-size: 34px;
    position: fixed;
    top:0;
    left:0;
}

.footer{
    margin: 60px;
    display: block;
    position: absolute;
    right:0;
    bottom:0;
}

#left-footer{
    font-size: 12x;
    margin: 44px;
    position: fixed;
    left:0;
    bottom:0;
    text-align: left;
    display: block;
}

#right-footer-top {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: right;
}

#right-footer-bottom{
    font-size: 24px;
    display: block;
}




