html, body{
    font-family: 'VT323', monospace;
}

body{
    margin: 0;
    background-color: black;
    align-items: center;
    color: white;
}

#canvas{
    width: 400px;
    height: 400px;
    position: fixed;
    top : 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
}

.header{
    display: block;
    position: absolute;
    width: 400px;
    right:50%;
    margin-right:-200px;
    top:0;
}

#score{
    padding-top:30px;
    font-size: 50px;
}

#stats{
    color: black;
    position: fixed;
    font-size: 37px;
    text-align: center;
    width: 180px;
    height: 150px;
    margin-left: -90px;
    margin-top: -75px;
    top : 50%;
    left: 50%;
}

.footer{
    text-align: right;
    display: block;
    position: absolute;
    width: 400px;
    left:50%;
    margin-left:-200px; 
    bottom:0;
    margin-bottom: 30px;
}

#title{
    font-size: 50px;
}

@media (max-width: 767px){

    #canvas{
        width: 380px;
        margin-left: -190px;
        margin-top: -190px;
    }
    
    .header{
        text-align: center;
        font-size: 30px;
        width: 300px;
        margin-right: -150px;
    }

     #stats{
        font-size: 30px;
        width: 200px;
        height: 100px;
        margin-left: -100px;
        margin-top: -50px;
    }

    .footer{
        text-align: center;
        width: 300px;
        margin-left:-150px; 
    }
}




