html, body{
    height: 100%;
    min-width: 1000px;
}

body{
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.description{
    padding: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
}

#title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
}

